.robot-container {
    width: 100%;
    height: 100%;
}

.robot-face-shape {
    border: 1px solid black;
    width: 50%;
    height: 50%;
    background-color: red;
    position: relative;
    top: 25%;
    left: 25%;
    border-radius: 25%;
}

.robot-eye-left {
    width: 75px;
    height: 75px;
    color: blue;
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: 20%;
    border-radius: 25%;
}

.robot-eye-right {
}

.robot-ear-left {
}

.robot-ear-right {
}

.robot-nose {
}

.robot-teeth {
}

.robot-tooth {
}

.robot-hair-style {
}

.robot-hair-one {
}

.robot-hair-two {
}

.robot-hair-three {
}
